<div class="row">
  <div class="col">
    <p><%= image_tag @user.image %></p>
    <h1><%= @user.name %></h1>
    <hr />
    <p><%= @user.nickname %>/<%= @user.provider %></p>
    <p><%= @user.location %></p>
    <p>Member Since <%= @user.created_at %></p>
    <hr />
    <% @user.urls&.each do |name, uri| %>
      <p><%= link_to name, uri %></p>
    <% end %>
  </div>
</div>

<%= render template: "code_examples/index" %>
