<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= content_for?(:title) ? yield(:title) : "Exloc" %>
    </title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridly/1.4.10/gridly.min.css">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render template: "layouts/menu" %>
    <%= render template: "layouts/flash" %>
    <%= yield %>
  </body>
</html>
