<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= content_for?(:title) ? yield(:title) : "Exloc" %>
    </title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/gridly/1.4.10/gridly.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/default.min.css">
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render template: "layouts/menu" %>
    <%= render template: "layouts/flash" %>
    <%= yield %>

    <script src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js" integrity="sha256-mJAzKDq6kSoKqZKnA6UNLtPaIj8zT2mFnWu/GSouhgQ=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
    <script>
      <%= yield :javascript %>
    </script>
  </body>
</html>
